@using Microsoft.AspNet.Identity
@using IOT_PMS.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-arabic.css" rel="stylesheet" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" dir="rtl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home" class="navbar-brand">
                    <img class="image-set" src="~/Images/logo.png" />
                </a>

            </div>
            <ul class="nav navbar-nav ">
                <li class="font_Header1">@Html.ActionLink("نظام الفوترة الإلكتروني", "Index", "Home")</li>
            </ul>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @*//---------------------------------------------------------------*@
                    @*@{
                        var db = new ApplicationDbContext();
                        var UserID = User.Identity.GetUserId();
                        var Current_user = db.Users.Where(a => a.Id == UserID).SingleOrDefault();
                        if (Current_user!=null) {
                            E_Counter e_Counter = db.E_Counter.Where(a => a.UserId == UserID).SingleOrDefault();
                        }
                    }*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon glyphicon-flash"></span>
                            <strong class="font_Header">خدمات الكهرباء</strong>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-user">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <a href="~/192.168.34.182" class="btn btn-primary btn-block">تحصيل الاستهلاك من الدارة</a>
                                            <a href="~/E_Counter/ViewCounter" class="btn btn-success btn-block">الاستعلام عن الاستهلاك</a>
                                            <a href="~/E_Bill" class="btn btn-success btn-block">كشف حساب</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    @*//---------------------------------------------------------------*@
                    @*//---------------------------------------------------------------*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon glyphicon-phone"></span>
                            <strong class="font_Header">خدمات الهاتف</strong>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-user">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <a href="~/P_Counter/Index" class="btn btn-success btn-block">سجل الاتصالات</a>
                                            <a href="~/P_Bill" class="btn btn-success btn-block">قائمة الفواتير</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    @*//---------------------------------------------------------------*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon glyphicon-tint"></span>
                            <strong class="font_Header">خدمات المياه</strong>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-user">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <a href="~/Home/Water_View" class="btn btn-success btn-block">كمية الاستهلاك</a>
                                            <a href="~/Home/Water_View" class="btn btn-success btn-block">كشف حساب</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    @*//---------------------------------------------------------------*@
                    <li>
                        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                        {
                            <input type="text" name="searchName" id="searchName"
                                   placeholder="ابحث هنا" />
                        }
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="min-height:400px;">
            @RenderBody()
        </div>
        <hr />
    </div>

    <footer class="myfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="font_footer1">
                        روابط مفيدة
                    </h3>
                    <ul class="font_footer3">
                        <li><a href="http://www.dec.gov.sy/">الشركة العامة لكهرباء دمشق</a></li>
                        <li><a href="http://www.moct.gov.sy/">وزارة الاتصالات السورية</a></li>
                        <li><a href="http://www.dawssa.gov.sy/">المؤسسة العامة لمياه الشرب</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="font_footer1">
                        اتصل بنا
                    </h3>
                    <ul class="font_footer3">
                        <li><a href="http://www.facebook.com">تابعنا على فيسبوك</a></li>
                        <li><a href="http://www.youtube.com">قناتنا على يوتيوب</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="subfooter">
            <p class="font_footer2">
               منصة إلكترونية لجباية الفواتير (كهرباء / مياه / هاتف) .
            </p>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>
